<header>
        <div class="container">
                <div class="carousel">
                        <a class="carousel-item" href="#one!"><img
                                        src="https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1590&q=80"></a>
                        <a class="carousel-item" href="#two!"><img
                                        src="https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1590&q=80"></a>
                        <a class="carousel-item" href="#three!"><img
                                        src="https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1590&q=80"></a>
                </div>
                {{!-- <div class="row">
                        <div class="col s5">
                                <h1 class="jake"></h1>
                                <p class="jake1">
                                        <span class="jake2">welcome</span>
                                        you can only buy books on this site.This site
                                        simple project.
                                        here you can make an account and buy.
                                </p>
                                <div class="menu"></div>
                                <button class="jake3"><a
                                                href="http://instagram.com/nuriddiinovv_?utm_source=qr">Instagram</a></button>
                                <button class="jake4"><a href="https://t.me/nuriddiinovv">Telegram</a></button>
                        </div>  
                        <div class="col s7">
                                <div class="ani0">
                                        <img
                                                src="	https://cdn3d.iconscout.com/3d/premium/thumb/hacker-4494000-3738384.png">
                                </div>
                        </div>
                </div> --}}
        </div>
</header>